body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
/*
.card {
    background: linear-gradient(135deg, #6e33a0, #9f61db);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    max-width: 90%;
}
*/


.card {
    position: relative; /* Added to allow absolute positioning within the card */
    background: linear-gradient(135deg, #6e33a0, #9f61db);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    max-width: 90%;
    overflow: hidden; /* Added to ensure nothing overflows from the card */
}

.logo {
    position: absolute; /* Allows positioning the logo within the card */
    top: 10px;
    left: 10px;
    width: 50px; /* Adjust the size of the logo */
    height: auto;
    z-index: 1; /* Ensures the logo stays on top */
}

.image-container {
    /* background-color: white; */
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.image-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

h2 {
    color: white;
    margin: 10px 0;
}

p {
    color: #e6e6e6;
    margin: 5px 0;
}

.buttons button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    color: #6e33a0;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.buttons button:hover {
    background-color: #ddd;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 5px;
}

.social-links img {
    width: 20px;
    height: 20px;
}

footer {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}
